  <!-- Main Container -->
  <div class="main-wrapper">
    <div class="bay-card">
      <div class="login-block forgot-passForm">
        <h3 class="title title-underline">Forgot Password</h3>
        <form>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">  <input type="email" class="form-control" id="bayEmailInput" aria-describedby="emailHelp" placeholder="Enter your email address"> </div>
           

          </div>
            <div class="form-action">
              <button type="submit" class="btn btn-primary btn-submit">Sign In</button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div> <!-- / bay-card -->

</div><!-- ./ Main Wrapper -->