<body class="dashboard-page">
    <header class="app-header">        
        <div class="app-navWrap"> 
            <div class="dashboar-logo">
                <a class="navbar-brand" href="#"> <img src="assets/img/logo.png" alt="" /> </a>
              </div>
            <nav class="navbar navbar-expand-lg navbar-light">     
              <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
                
        
               <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">   -->
                  <div (click)="toggleCollapse()" class="sidebar-toggle d-lg-block"><a href="javascript:void(0);" class="sidebar-icon"><i class="material-icons"> menu </i></a></div>              
                  <ul class="nav navTopLink">                  
  
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="material-icons">notifications_none</i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="material-icons">account_circle</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="material-icons">exit_to_app</i></a>
                      </li>
                  </ul>
                <!-- </div> -->
            </nav>
  
  
           <!-- 
            <div class="mob-sidebar collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="sidebar-nav">
                  <li class="sidebar-item"><a class="sidebar-link" href="#">ONLINE FORMS</a> </li>   
                  <li class="sidebar-item"><a class="sidebar-link" href="#">INSURANCE </a></li>                  
                  <li class="sidebar-item"> <a class="sidebar-link" href="#"> LINKS</a></li>      
                  <li class="sidebar-item"><a class="sidebar-link" href="#">HEALTH COVERAGE</a></li>      
                  <li class="sidebar-item"> <a class="sidebar-link" href="#"> RETIREMENT </a></li>
                </ul> 
                <div class="sidebar-phoneNumb">
                  <h6>Phone Number</h6>
                  <ul class="contact-details nav">
                    <li><label>Local:</label><a href="tel://734-243-5400">(734) 243-5400</a> </li>
                    <li><label>Toll Free:</label><a href="tel://800-243-5400">(800) 787-1200</a> </li>
                    <li><label>Call-Off:</label><a href="tel://734-243-2840">(734) 243-2840</a> </li>
                  </ul>
                </div>             
              </div>
              -->
            <div class="bay-dashBar">
              <h5 class="headline">You are currently logged in as <span>programmersIO</span></h5>
              <!-- <a href="javascript:void(0);" class="btn btn-outline-primary btn-back"><span class="bay-icon icon-item"><i class="material-icons"> keyboard_arrow_left </i>Back</span></a> -->
            </div>
          
            <div class="clearfix"></div>
        </div>
  
        <div class="clearfix"></div>
      
    </header>
  <!-- ./ Header  -->
  
  <!-- Main Container -->
  <div class="page-main-wrapper">
    <div class="sidebar d-lg-block " *ngIf="!isCollapsed">
      <div class="sidebar-content">
        <div class="sidebar-nav" id="accordion">
          <li class="sidebar-item">           
            <a class="sidebar-link" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ONLINE FORMS</a> 
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="#"> 2019 Enrollment Form</a></li>                   
                    <li class="nav-item"><a class="nav-link" href="#">Job Postings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Atlas Perfect Fit Gloves Request Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Automatic Direct Deposit Authorization Agreement</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Employee Suggestion / Request / Comment Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Employee Time Off Request Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Application</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Information</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Monroe Family YMCA Payroll Deduction Authorization</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Name, Address, Phone Number Change Notification Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Request Printed Form</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">W-4 Forms</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2019</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2020</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">5/3 Retirement Account Registration and Navigation</a></li>
                 </ul>
              </div>      
          </li>
  
  
          <li class="sidebar-item">           
              <a class="sidebar-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  INSURANCE
              </a> 
              <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <ul class="nav">
                      <li class="nav-item"><a class="nav-link" href="#"> 2019 Enrollment Form</a></li>                   
                      <li class="nav-item"><a class="nav-link" href="#">Job Postings</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Atlas Perfect Fit Gloves Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Automatic Direct Deposit Authorization Agreement</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Suggestion / Request / Comment Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Time Off Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Application</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Information</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Monroe Family YMCA Payroll Deduction Authorization</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Name, Address, Phone Number Change Notification Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Request Printed Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">W-4 Forms</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2019</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2020</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">5/3 Retirement Account Registration and Navigation</a></li>
                   </ul>
                </div>      
            </li>
            
          <li class="sidebar-item">           
              <a class="sidebar-link" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                  LINKS
              </a> 
              <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <ul class="nav">
                      <li class="nav-item"><a class="nav-link" href="#"> 2019 Enrollment Form</a></li>                   
                      <li class="nav-item"><a class="nav-link" href="#">Job Postings</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Atlas Perfect Fit Gloves Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Automatic Direct Deposit Authorization Agreement</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Suggestion / Request / Comment Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Time Off Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Application</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Information</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Monroe Family YMCA Payroll Deduction Authorization</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Name, Address, Phone Number Change Notification Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Request Printed Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">W-4 Forms</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2019</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2020</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">5/3 Retirement Account Registration and Navigation</a></li>
                   </ul>
                </div>      
            </li>
  
          <li class="sidebar-item">           
              <a class="sidebar-link" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  HEALTH COVERAGE
              </a> 
              <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <ul class="nav">
                      <li class="nav-item"><a class="nav-link" href="#"> 2019 Enrollment Form</a></li>                   
                      <li class="nav-item"><a class="nav-link" href="#">Job Postings</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Atlas Perfect Fit Gloves Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Automatic Direct Deposit Authorization Agreement</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Suggestion / Request / Comment Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Employee Time Off Request Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Application</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Information</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Monroe Family YMCA Payroll Deduction Authorization</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Name, Address, Phone Number Change Notification Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">Request Printed Form</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">W-4 Forms</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2019</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2020</a></li>
                      <li class="nav-item"><a class="nav-link" href="#">5/3 Retirement Account Registration and Navigation</a></li>
                   </ul>
                </div>      
            </li>
  
            <li class="sidebar-item">           
                <a class="sidebar-link" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    RETIREMENT
                </a> 
                <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#"> 2019 Enrollment Form</a></li>                   
                        <li class="nav-item"><a class="nav-link" href="#">Job Postings</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Atlas Perfect Fit Gloves Request Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Automatic Direct Deposit Authorization Agreement</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Employee Suggestion / Request / Comment Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Employee Time Off Request Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Application</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Short Term Disability Information</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Monroe Family YMCA Payroll Deduction Authorization</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Name, Address, Phone Number Change Notification Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Request Printed Form</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">W-4 Forms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2019</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">GHIJ Schedule 2020</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">5/3 Retirement Account Registration and Navigation</a></li>
                     </ul>
                  </div>      
              </li>
        </div> 
        <div class="sidebar-phoneNumb">
          <h6>Phone Number</h6>
          <ul class="contact-details nav">
            <li><label>Local:</label><a href="tel://734-243-5400">(734) 243-5400</a> </li>
            <li><label>Toll Free:</label><a href="tel://800-243-5400">(800) 787-1200</a> </li>
            <li><label>Call-Off:</label><a href="tel://734-243-2840">(734) 243-2840</a> </li>
          </ul>
        </div>
       
      </div>
    </div> <!-- ./ sidebar  -->
  
    <div class="main-section">
      <div class="bay-breadcrumb">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Online Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Job Postings</li>
              </ol>
            </nav>
      </div> <!-- / bay-breadcrumb -->
  
      <div class="dashBoard-wrapper">
        <div class="dashBoard-container">
          <div class="form-header">
            <h4 class="title">Edit Profile  </h4>
          </div>
          <div class="form-data">
          
             <form>
              
			  <div class="form-group row">
                  <label for="username" class="col-sm-2 col-form-label">Username<span class="required">*</span></label>
                  <input id="username" type="text" class="col-sm-2 col-form-input">
              </div>
                
			  <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email<span class="required">*</span></label>
                  <input id="email" type="email" class="col-sm-2 col-form-input">
              </div>
			  
			  <div class="form-group row">
                  <label for="password" class="col-sm-2 col-form-label">Password<span class="required">*</span></label>
                  <input id="password" type="password" class="col-sm-2 col-form-input">
              </div>
			  <div class="form-group row">
                  <label for="password" class="col-sm-2 col-form-label">Repeat Password<span class="required">*</span></label>
                  <input id="password" type="password" class="col-sm-2 col-form-input">
              </div>
                

                  <div class="form-group row">
                      <label class="col-sm-2 col-form-label"></label>
                      <div class="col-sm-10 col-md-8 col-lg-8">
                    <div class="form-action">
                      <button type="reset" class="btn btn-primary btn-submit">Update</button>
                      
                    </div>    
                  </div>                  
                </div>   
              </form>			  
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>    
      <div class="clearfix"></div>
    </div><!-- ./ dashBoard-wrapper -->
  </div><!-- ./ Main Wrapper -->
  </div><!-- ./ page-main-wrapper -->
