/*  ==========  Reset Stylesheet    */
:root {   
    --bg-primary:#fcfcfc;
    --bg-secondary:#f0f0f0;
    --white-color:#ffffff;
    --primary-text:#000f19;
    --link-color:#001689;
    --divider:#d8d8d8;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    * { box-sizing: border-box; font-family: 'Roboto', sans-serif;}
    html {
        font-family: 'Roboto', sans-serif;           
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    body{margin:0; padding: 0;  font-family: 'Roboto', sans-serif; font-size:14px; font-weight:400; color:#000f19;    -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
html, body{height: 100%;}
ul{margin:0; padding:0;}
ul  li{list-style: none;}


.form-control{ border-radius: 0; border:1px solid #e2e2e2;}
.form-control:focus {color: #495057; background-color: #fff; border-color: #dfe2e5; outline: 0; box-shadow: 0 0 0 0.2rem rgba(223, 226, 229, 0.50);}
.form-control::-webkit-input-placeholder { color: #b4b4b4; opacity: 1;}
.form-control::-moz-placeholder { color: #b4b4b4; opacity: 1;}
.form-control:-ms-input-placeholder {color: #b4b4b4; opacity: 1;}
.form-control::-ms-input-placeholder {color: #b4b4b4; opacity: 1;}
.form-control::placeholder { color: #b4b4b4; opacity: 1;}

.btn{border-radius: 0;}
.btn-primary{border-radius: 0; background-color:#001689; border-color: #001689;}
.btn-primary:hover { color: #fff; background-color: #00147b; border-color: #00147b;}
.btn-outline-primary {color: #001689; border-color: #001689;}
.btn-outline-primary:hover {color: #fff; background-color: #001689; border-color: #001689;}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle{  color: #fff;
  background-color: #00147b;
  border-color: #00147b;}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{

  color: #fff;
  background-color: #00147b;
  border-color: #00147b;


}
.form-action .btn{padding:0.5rem 2rem;box-shadow:0 1px 10px rgba(0,0,0,0.10), 0 1px 10px rgba(0,0,0,0.10);}
.form-action .btn{margin-right:0.50rem;}

.title-underline:after { border-bottom: 5px solid #001689; content: ''; position: absolute; left: 0; right: 0; width: 25%; bottom: 0; margin: 0;}


.text-white{color:#ffffff;}
.text-primary{color:#001932 !important;}
.text-light-gray{color:#929292;}
.required {color: #e00404; font-weight: 700;}


/*  ============== Header Section */

header{position: relative; z-index: 9; background: #ffffff;}
header .tobBar{display: block; height:45px;}

.top-navigation{text-align: right;}

.topNav { display: inline-flex;}
.topNav a.nav-link{color:#001689; padding:0.5rem; font-size: 0.975rem;}
.topNav a.nav-link:hover{text-decoration: underline;}
.social-item{display: inline-flex; float:right}
.social-nav{display: inline-block; margin-left: 2rem;}
.social-nav li{display: inline-block;}
.social-nav li a{padding:0.25rem 0.5rem; }
.main-navbar{ position: relative;}
.navbar-light .navbar-toggler{border:none; color:#ffffff; outline:none; padding:0;}

.baycarr-logo{position: relative; display: inline-block;}
.main-navbar .baycarr-logo { padding:0; margin:0;}
.main-navbar .navbar-nav{margin-left:15%;}
.navbar-light .navbar-nav .nav-link{color:#ffffff; font-size: 0.975rem;}
.navbar-light .navbar-nav .active > .nav-link{color:#ffffff;}
.navbar-light .navbar-nav .nav-link:hover{ text-decoration: underline; color: #ffffff;}

/*  =================== Main Container  */

.main-wrapper{position: relative; height: 100%; min-height: 100%;}

.bay-card{ display: block; width:90%; background:#fcfdfe; 
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  margin: 0; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);

}

.login-block{ display: inline-block; width:100%;}
.login-block .title{ padding:0.25rem 0 0.5rem; display: inline-block; font-size:1.8rem; color:#001689; position: relative; margin-bottom: 2rem;}


.login-block label{color:#001932; font-size:1rem;}


.login-block .form-group.form-check{display: inline-block; float:left; margin-top: 1rem;}
.login-block .forgot-pass{display: inline-block; float:right; margin-top: 1rem;}
.login-block .forgot-pass a{color:#001689; text-decoration: underline; font-weight: 500;}

.login-block .form-action{display: inline-block; width:100%; clear: both;}
.login-block .form-action .btn-submit{width:100%; font-size:1.2rem;}
.forgot-passForm .form-action{margin-top: 2rem;}

/*  ==================  Dashboard Page  */

.dashboard-page{ position: relative; background:#f1f1f1;}

.app-header{display: inline-flex; width:100%; height:120px; position: fixed; border-bottom: 1px solid #d8d8d8;}
.app-navWrap{display: block; width:inherit; margin-left:220px; position: relative;}
.app-header .navbar{padding-top:0; padding-bottom: 0; padding-left:1rem; padding-right:0; border-bottom: 1px solid #d8d8d8; }
.app-header .dashboar-logo{padding:0; margin:0; text-align: center; border-right:1px solid #d8d8d8; width:220px; display: inline-flex; position: absolute; left:-220px; height:120px;}
.app-header .dashboar-logo a.navbar-brand{margin:0; padding:0.5rem 0.5rem 0; display: inline-block;width: 100%;}
.app-header .dashboar-logo a.navbar-brand img{ width:100px;}


.app-navWrap .navbar-light .nav.navTopLink{display: inline-flex; margin-left: auto;}
.app-navWrap .navbar-light .nav .nav-link{ color:#001689; padding:0.75rem 1rem;}
.app-navWrap .navbar-light .nav .nav-link:hover{background:#f2f8fd;}
.app-navWrap .navbar-light .nav .nav-item {border-right:1px solid #d8d8d8;}

.app-navWrap .navbar-light .nav .nav-item:first-child{border-left:1px solid #d8d8d8;}
.app-navWrap .navbar-light .nav .nav-item:last-child{border-right:none;}
.app-navWrap .navbar-light .nav .active > .nav-link{ color:#001689;}

.app-navWrap .bay-dashBar{ padding:1rem 1.5rem 1rem 2.5rem;}
.app-navWrap .bay-dashBar .headline{font-weight: 400; font-size:1.2rem; display: inline-block;}
.app-navWrap .bay-dashBar .headline span{font-weight: 700; color:#001689;}
.app-navWrap .bay-dashBar .btn{display: inline-block; float:right;}
.app-navWrap .bay-dashBar .btn i{padding-left:0;}

.page-main-wrapper{display: flex; width: 100%; position: relative; }

.main-section{width:100%; margin-left:220px; margin-top: 120px; transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out;}
.main-section .dashBoard-wrapper{margin: 2rem; padding:2rem; background:#ffffff;}
.main-section.toggled-left{margin-left:0;}

.dashBoard-container{padding:2rem;}
.form-header{display: inline-block; width:100%; padding-bottom: 2rem;}
.form-header .title{text-transform: uppercase; color:#001689;}

.dashBoard-container form label{color:#929292;}
.dashBoard-container .date-action{position: relative;}

.dashBoard-container .form-action{padding-top:2rem;}
.data-action img{position: absolute; right:1.5rem; top:7px;color:#001689; width:24px; cursor: pointer;}

/*  ============  Bay Breadcrumb  */
.bay-breadcrumb{display: block; width:100%;}
.bay-breadcrumb .breadcrumb{ background:none; border:none; border-radius: 0; border-bottom: 1px solid #d8d8d8; padding:1rem 2rem 1rem 2.5rem;}
.bay-breadcrumb .breadcrumb a{color:#000f19;}
.bay-breadcrumb .breadcrumb-item + .breadcrumb-item{ font-size:1rem;}
.bay-breadcrumb .breadcrumb .breadcrumb-item.active{color:#001689;}
.bay-breadcrumb .breadcrumb-item + .breadcrumb-item::before{color:#000f19;font-size:1rem;}

/*  ============ Sidebar Section	*/

.sidebar-toggle{position: relative; margin-left:0.5rem;}
.sidebar-toggle a.sidebar-icon{padding:0.75rem 1rem ; color:#001689;}
.sidebar-toggle a.toggled-active{}

.sidebar{min-width: 220px; max-width: 220px; position: fixed; left:0; top:120px; height:100%; min-height: 100%; transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out; border-right:1px solid #d8d8d8;}
.sidebar-content{margin-top:0rem; }
.sidebar,.sidebar-content {
 -webkit-transition: margin-left .4s ease-in-out,left .4s ease-in-out;
 transition: margin-left .4s ease-in-out,left .4s ease-in-out;
 background: #003d79;
}
.sidebar.toggled { margin-left: -220px;}
.sidebar.toggled .sidebar-content {left: -220px;}

.sidebar-nav { padding-left: 0; list-style: none;}
.sidebar-link, a.sidebar-link {  display: block;  vertical-align: middle; padding: .75rem 1.5rem; color: #ffffff; font-weight: 400; 
  border-bottom: 1px solid #002b56; background:transparent; position: relative; text-decoration: none; cursor: pointer;
  border-left:5px solid transparent;}

a.sidebar-link:after{content: '\e315';
  font-family: 'Material Icons'; font-size:24px;  
  position: absolute; right:5px; top:5px;
  transform: translate(0, 0);}

  a.sidebar-link.collapsed:after{
    content: '\e313';
  font-family: 'Material Icons'; font-size:24px;  
  position: absolute; right:5px; top:5px;
  transform: translate(0, 0);
}


a.sidebar-link {
 -webkit-transform: perspective(1px) translateZ(0);
 transform: perspective(1px) translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);    
 -webkit-transition-property: color;
 transition-property: color;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
}
a.sidebar-link:before {
 content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; background: #ffffff;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transform-origin: 0 50%;
 transform-origin: 0 50%;
 -webkit-transition-property: transform;
 transition-property: transform;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
a.sidebar-link:hover, a.sidebar-link:focus, a.sidebar-link:active { color: #323031;border-left: 5px solid #004385; font-weight: 400;}
a.sidebar-link:hover:before, a.sidebar-link:focus:before, a.sidebar-link:active:before {  -webkit-transform: scaleX(1); transform: scaleX(1); }

.sidebar-nav .sidebar-item.active > .sidebar-link{opacity:1; border-left:5px solid #004385; color:#323031; font-weight: 400; background:#ffffff; -webkit-transform: scaleY(1); transform: scaleY(1);}
.sidebar-nav .sidebar-item.active > .sidebar-link:hover:before{-webkit-transform: scaleY(0); transform: scaleY(0);}

.sidebar-item .nav{background:#fff;}
.sidebar-item .nav li{display: inline-block; width:100%;}
.sidebar-item .nav li a.nav-link{color:#001932; border-bottom: 1px solid #d8d8d8; padding-left:1.5rem;}
.sidebar-item .nav li a.nav-link:hover{background: #004385; color:#ffffff;}


.sidebar-phoneNumb{padding:1rem 0 0 1.5rem; background: #004385; color:#ffffff; font-size:0.875rem;}
.sidebar-phoneNumb h6{border-left:5px solid transparent; font-weight: 500;}
.sidebar-phoneNumb ul li{padding:0.25rem 0; font-size:14px; display: inline-block; width:100%;}
.sidebar-phoneNumb ul li label{ width:35%; text-align: left; margin:0;}
.sidebar-phoneNumb ul li a{color:#ffffff; text-decoration: none; font-weight: 500;}

.mob-sidebar{background:#ffffff; position: fixed; top:90px; left:0; width:75%; height:100%;}
.mob-sidebar .sidebar-nav { padding-left: 0; list-style: none; padding-top: 2rem;}
.mob-sidebar .sidebar-link, .mob-sidebar a.sidebar-link{color: #004385; border-bottom: 1px solid #d8d8d8;}

/*  */

.table{border:1px solid #dee1e4;}
.table thead{background:#dee1e4;}

/*  ==================  Media Query */

@media (min-width: 320px) {

  .app-header{height:90px;}
  .app-navWrap{margin-left: 140px;}
  .app-header .dashboar-logo a.navbar-brand{padding: 0rem 0.5rem 0;}
  .app-header .dashboar-logo a.navbar-brand img {width: 75%;}
  .app-header .dashboar-logo {  width: 140px;left: -140px;height: 55px;}

  .main-navbar{background: #001689;}
  .main-navbar .navbar-nav{margin-left:25%;}
  .main-navbar .baycarr-logo { position: relative; left: 0; width: 90px;}
  .main-navbar .navbar-brand { color: #fff; padding: 0; position: absolute; top:-27px; width:100%;}
  .main-navbar .baycarr-logo img{max-width: 80%;}

  .login-block{padding:1rem;}
  .login-block .form-control{margin-top: 1rem;}

  .main-section{margin-left:0; margin-top:90px;}
  .bay-dashBar{display: none;}
 
}

@media (min-width: 576px) {
  .main-navbar{
    background: #001689; /* Old browsers */
   
  }
  .login-block{padding:0.5rem;}
  .login-block .form-control{margin-top: 0.50rem;}
 
}

@media (min-width: 768px) {
  .main-navbar{
    background: #001689; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 0%, #001689 0%, #001689 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 0%,#001689 0%,#001689 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 0%,#001689 0%,#001689 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
    .main-navbar .navbar-nav{margin-left:15%;}
    .main-navbar .baycarr-logo { position: relative; left: 0; width: 110px; top: -46px;}
    .main-navbar .navbar-brand { color: #fff; padding: 0; margin-right: 0; position: absolute; top: -25px;}
    .main-navbar .baycarr-logo img{max-width: 100%;}


  .app-header{height:120px;}
  .app-navWrap{margin-left: 220px;}
  .app-header .dashboar-logo a.navbar-brand{padding: 1rem 0.5rem 0;}
  .app-header .dashboar-logo a.navbar-brand img {width: 100px;}
  .app-header .dashboar-logo {  width: 220px;left: -220px;height: 120px;}

    .bay-card{padding:2rem;}
    .login-block{padding:0;}
    .login-block .form-control{margin-top: 0;}
    .main-section{margin-top:120px;}
    .mob-sidebar{top:120px;}


}

@media (min-width: 992px) {
  .main-navbar{ 
    background: #001689; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 13%, #001689 13%, #001689 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 13%,#001689 13%,#001689 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 13%,#001689 13%,#001689 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

    .main-navbar .baycarr-logo { position: absolute; top: -45px; left: 0px; width: 170px;}
    .main-navbar .navbar-brand { position: relative; left: 0; top: 0; width:100%;}
    .main-navbar .baycarr-logo img{max-width: 75%;}

    .bay-card{padding:5rem; max-width: 768px; width:90%;}
    .main-section{margin-left:220px;}
    .bay-dashBar{display: block;}
    .mob-sidebar{top:120px;}
}

@media (min-width: 1200px) {
  .main-navbar{ 
    background: #001689; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 10%, #001689 10%, #001689 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 10%,#001689 10%,#001689 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 10%,#001689 10%,#001689 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }

  .main-navbar .baycarr-logo { position: absolute; top: -45px; left: 100px; width: 190px;}
 
}